---
import DoubleTitle from "@components/ui/DoubleTitle.astro";
import clientsLogos from "@data/clientsLogos.json";
import { Image } from 'astro:assets';
export const images = import.meta.glob('/src/assets/images/clients/*.{webp, png, jpg, jpeg}', { eager: true }) as Record<string, { default: string }>;
---

<section class="section-container flex flex-col items-center gap-5 md:gap-0 md:flex-row">
  <div class="inline-flex md:pr-4">
    <DoubleTitle blackText="Nuestros" blueText="Clientes" isVertical />
  </div>

  <div class="flex flex-row relative overflow-hidden w-full logos">
    <div class="flex flex-row logos-slide animate-slide whitespace-nowrap gap-7 md:gap-10 lg:gap-14">
      {clientsLogos.map((logo, index) => (
        <Image 
        src={images[logo.logo].default} 
        alt={logo.name} 
        height={50}
        inferSize
        draggable="false"
        />
      ))}
    </div>

    <!-- Add margin between the two slides -->
    <div class="flex flex-row logos-slide animate-slide whitespace-nowrap gap-7 md:gap-10 lg:gap-14 ml-[1.5rem] md:ml-[2.5rem] lg:ml-[3.5rem]">
      {clientsLogos.map((logo) => (
        <Image 
        src={images[logo.logo].default} 
        alt={logo.name} 
        height={50}
        inferSize
        draggable="false"
        />
      ))}
    </div>

    <div class="absolute logos-before left-0 top-0 w-24 h-full"></div>
    <div class="absolute logos-after right-0 top-0 w-24 h-full"></div>
  </div>
</section>

<style>
  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide {
    animation: slide 25s linear infinite;
  }

  .logos-slide {
    min-width: fit-content;
  }

  .logos-before {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), theme('colors.background'));
  }

  .logos-after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), theme('colors.background'));
  }
</style>
