---
import DoubleTitle from "@components/ui/DoubleTitle.astro";
import clientsLogos from "@data/clientsLogos.json";
import { Image } from 'astro:assets';
export const images = import.meta.glob('/src/assets/images/clients/*.{webp, png, jpg, jpeg}', { eager: true }) as Record<string, { default: string }>;

---

<section class="section-container flex flex-col items-center gap-5 md:gap-0 md:flex-row">
  <div class="inline-flex md:pr-4">
    <DoubleTitle blackText="Nuestros" blueText="Clientes" isVertical />
  </div>

  <div class="outer-slider">
    <div class="inner-slider bg-black">
      {clientsLogos.map((logo, index) => (
        <Image 
        src={images[logo.logo].default} 
        alt={logo.name} 
        height={50}
        inferSize
        draggable="false"
        class="select-none mx-16"
        />
      ))}
    </div>
  </div>
</section>

<script>
  const innerCarousel = document.querySelector('.inner-slider');
  const numClones = 2;

  for (let i = 0; i < numClones; i++) {
    const clonedCarousel = innerCarousel!.cloneNode(true);
    innerCarousel!.parentNode?.appendChild(clonedCarousel);
  }
  
  const innerSliders = document.querySelectorAll('.inner-slider');

  innerSliders.forEach((innerSlider) => {
    innerSlider.classList.add('animate-scroll');
  });
</script>

<style>
  .outer-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
}

.inner-slider {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    animation: none;
}

.animate-scroll {
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
</style>
