---
import DoubleTitle from "@components/ui/DoubleTitle.astro";
import clientsLogos from "@data/clientsLogos.json";
import { Image } from 'astro:assets';
export const images = import.meta.glob('/src/assets/images/clients/*.{webp, png, jpg, jpeg}', { eager: true }) as Record<string, { default: string }>;

---

<section class="section-container flex flex-col items-center gap-5 md:gap-0 md:flex-row">
  <div class="inline-flex md:pr-4">
    <DoubleTitle blackText="Nuestros" blueText="Clientes" isVertical />
  </div>

  <div class="outer-slider">
    <div class="inner-slider">
      {clientsLogos.map((logo, index) => (
        <Image 
        src={images[logo.logo].default} 
        alt={logo.name} 
        height={50}
        inferSize
        draggable="false"
        class="select-none"
        />
      ))}
      {clientsLogos.map((logo, index) => (
        <Image 
        src={images[logo.logo].default} 
        alt={logo.name} 
        height={50}
        inferSize
        draggable="false"
        class="select-none"
        />
      ))}  
    </div>
  </div>
</section>

<style>
  .outer-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

.inner-slider {
    display: flex;
    width: fit-content;
    animation: scroll-left 10s linear infinite;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-50% - 15px));
    }
}
</style>
