---
import DoubleTitle from "@components/ui/DoubleTitle.astro";
import solutionsLanding from "@data/solutionsLanding.json";
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'

interface Industry {
  name: string,
  image: string
}
const images = import.meta.glob('/src/assets/images/soluciones/*.{webp,png,jpg,jpeg,WEBP,PNG,JPG,JPEG}', { eager: true }) as Record<string, { default: string }>;
---

<section class="section-container flex flex-col items-center">
  <DoubleTitle blackText="SOLUCIONES" blueText="PARA TUS NECESIDADES" isVertical />

  <div class="relative flex overflow-hidden w-full max-w-4xl py-1 mt-4 rounded-[36px] border border-white/40 bg-white/60 justify-center align-center shadow-lg">
    <button id="left-arrow" class="absolute -left-1 top-1/2 -translate-y-1/2 md:px-2">
      <Icon name="mdi:keyboard-arrow-left" class="size-10 text-black opacity-30" />
    </button>
    
    <div id="scrollableTabs" class="flex overflow-x-auto space-x-9 mx-6 py-2 scroll-smooth scrollbar-hide whitespace-nowrap" aria-label="Tabs" role="tablist">
      {solutionsLanding.map((industry: Industry, index: number) => (
        <button
          class={`hover:text-light-blue hs-tab-active:text-blue hs-tab-active:underline ${index === 0 ? 'active' : ''}`}
          id={`tab-${index + 1}`}
          aria-selected={index === 0 ? 'true' : 'false'}
          data-hs-tab={`#tabs-${index + 1}`}
          aria-controls={`tabs-${index + 1}`}
          role="tab"
        >
          {industry.name}
        </button>
      ))}
    </div>

    <button id="right-arrow" class="absolute -right-1 top-1/2 -translate-y-1/2 md:px-2">
      <Icon name="mdi:keyboard-arrow-right" class="size-10 text-black opacity-30" />
    </button>
  </div>

  <div class="mt-3">
    {solutionsLanding.map((industry:Industry, index) => (
      <div
        id={`tabs-${index + 1}`}
        class={`${index === 0 ? '' : 'hidden'}`}
        role="tabpanel"
        aria-labelledby={`tab-${index + 1}`}
      >
        <Image src={images[industry.image].default} alt={`${industry.name} Mecintrac`} height={500} inferSize class="rounded-lg border object-cover" />
      </div>
    ))}
  </div>
</section>

<script>
  function scrollLeft() {
    const container = document.getElementById('scrollableTabs');
    container!.scrollBy({ left: -150, behavior: 'smooth' });
  }

  function scrollRight() {
    const container = document.getElementById('scrollableTabs');
    container!.scrollBy({ left: 150, behavior: 'smooth' });
  }

  document.addEventListener('DOMContentLoaded', () => {
    const leftArrow = document.getElementById('left-arrow');
    const rightArrow = document.getElementById('right-arrow');

    if (leftArrow) {
      leftArrow.addEventListener('click', scrollLeft);
    }
    if (rightArrow) {
      rightArrow.addEventListener('click', scrollRight);
    }
  });
</script>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
