---
import DoubleTitle from "@components/ui/DoubleTitle.astro";
import processSteps from "@data/processSteps.json";
import { Image } from "astro:assets";
const images = import.meta.glob('/src/assets/images/process/*.{webp,png,jpg,jpeg}', { eager: true }) as Record<string, { default: string }>;
---

<section class="section-container background-image pb-8">
  <DoubleTitle blackText={"DEL DISEÑO"} blueText={"A LA REALIDAD"} isVertical/>

  <div class="flex flex-col mt-5 gap-14 lg:gap-24">
    {processSteps.map((step, index) => (
      <div class="flex flex-col md:flex-row gap-8 md:gap-28 lg:gap-60 justify-center items-center">
        <div class="flex flex-row gap-4">
          <h3 class="text-9xl text-blue">{index + 1}</h3>
          <div class="flex flex-col">
            <h4 class="text-4xl text-blue">{step.title}</h4>
            <p class="max-w-[22ch]">{step.description}</p>
          </div>
        </div>
        <Image src={images[step.image].default} alt={step.title} height={300} inferSize class="rounded-full w-64 h-64 object-cover" />
      </div>
    ))}

  </div>
</section>

<style>
  .background-image {
      background-image: url('../../../assets/images/bg.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      position: relative;
  }
</style>