---
import { Icon } from 'astro-icon/components';
---
<footer class="bg-blue mt-6">
  <div class="flex flex-col md:flex-row justify-center items-center py-7 gap-4 md:gap-16">
    <div class="flex flex-col justify-center items-center md:items-start">
      <h2 class="text-white text-6xl font-bold tracking-wider -mb-3">MECINTRAC</h2>
      <p class="text-white text-xl tracking-wider font-bold">Calidad a tiempo</p>
    </div>

    <div class="flex flex-col justify-center items-center md:items-start gap-2">
      <p class="text-white text-sm tracking-wider flex items-center">
        <Icon name="mdi:phone" class="mr-2 size-5" />
        <a href="tel:+573332273876" class="text-white">+57 333 2273876</a>
      </p>
      <p class="text-white text-sm tracking-wider flex items-center">
        <Icon name="mdi:email" class="mr-2 size-5" />
        <a href="mailto:administracion@mecintrac.com" class="text-white">administracion@mecintrac.com</a>
      </p>
      <p class="text-white text-sm tracking-wider flex items-center">
        <Icon name="mdi:location" class="mr-2 size-5" />
        <a href="https://www.google.com/maps/dir//MECINTRAC,+Cl.+29D+%2355-121,+Guayabal,+Medell%C3%ADn,+Guayabal,+Medell%C3%ADn,+Antioquia/@6.230296,-75.5814316,29z/data=!4m8!4m7!1m0!1m5!1m1!1s0x8e4429f931dc14bb:0x645a322df94785da!2m2!1d-75.5808463!2d6.2311124?entry=ttu&g_ep=EgoyMDI0MTIwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank" class="text-white">Cl. 29D #55-121, Guayabal, Medellín</a>
      </p>
    </div>

    <div class="flex flex-row md:flex-col justify-center items-start gap-2">
      <a href="https://www.instagram.com/mecintrac" target="_blank" class="text-white">
        <Icon name="mdi:instagram" class="size-7" />
      </a>
      <a href="https://www.linkedin.com/company/mecintrac" target="_blank" class="text-white">
        <Icon name="mdi:linkedin" class="size-7" />
      </a>
    </div>
  </div>
</footer>