---
import Layout from "@/layouts/Layout.astro"
import Button from "@/components/ui/Button.astro"
---
<Layout title="404">
    <div class="section-container mt-16">
        <h1 class="text-9xl font-bold text-center text-blue tracking-wider">404</h1>
        <p class="text-lg mx-auto text-center text-black max-w-lg">Oops! La página que estás buscando no existe. Pero no te preocupes, en Mecintrac hasta te redireccionamos a tiempo.</p>
        <div class="flex justify-center pt-3">
            <Button text="Volver al inicio" url="/" textSize="text-lg" />
        </div>
    </div>
</Layout>