---
import Layout from "@/layouts/Layout.astro"
import HeroCarousel from "@/components/sections/landing/Hero.astro"
import Benefits from "@/components/sections/landing/Benefits.astro"
import Services from "@/components/sections/landing/Services.astro"
import Clients from "@/components/sections/landing/Clients.astro"
---

<Layout title="Mecintrac">
	<HeroCarousel/>

	<Benefits />

	<Services />

	<Clients />

	<section  class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 py-12">
	  <h2 class="text-3xl font-semibold">About Us</h2>
	  <p class="mt-4">Here is some information about Mecintrac.</p>
	</section>
  
	<section class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8 py-12">
	  <h2 class="text-3xl font-semibold">Our Services</h2>
	  <p class="mt-4">Details about our services.</p>
	</section>
</Layout>
r