---
import Layout from "@/layouts/Layout.astro"
import projects from "@/data/projects.json"

const uniqueTags = Array.from(new Set(projects.map(project => project.tag)));
---

<Layout title="Proyectos">
  <div class="flex flex-col items-center section-container">
    <h1 class="text-5xl font-bold tracking-wider text-blue text-center">Proyectos</h1>
    <p class="text-lg text-center max-w-2xl mt-2">En Mecintrac, desarrollamos proyectos en diversas industrias, destacando nuestro compromiso con la calidad y la eficiencia en cada solución entregada.</p>
    
    <div class="flex flex-wrap justify-center max-w-2xl mt-4">
      <button class="m-2 px-4 py-2 text-blue border-blue border-2 rounded-full">Todas</button>
      {uniqueTags.map(tag => (
        <button class="m-2 px-4 py-2 text-blue border-blue border-2 rounded-full">{tag}</button>
      ))}
    </div>
  </div>
</Layout>