---
import Navbar2 from "@/components/sections/Navbar2.astro";
import Navbar from "@/components/sections/Navbar.astro";
import FooterSection from "@components/sections/Footer.astro";
import whatsapp from "@/assets/images/whatsapp-fixed.png";
import "@/assets/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const isHomePage = Astro.url.pathname === "/";
---

<html lang="es" class="scrollbar-hide">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/logo-mecintrac.png" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;500;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;500;700&display=swap"></noscript>
    <title>{title} | Mecintrac</title>
  </head>
  <body class="bg-background overflow-x-hidden wrapper">
    {isHomePage ? <Navbar /> : <Navbar2 />}
    <main class="flex-grow page-body">
      <slot />
    </main>
    <div class="page-footer">
      <FooterSection />
    </div>

    <div class="fab">
      <a href="https://wa.me/+573332273876"
        target="_blank">
        <img src={whatsapp.src} alt="WhatsApp Logo">
      </a>
    </div>
  </body>
</html>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page-body {
    flex-grow: 1;
  }

  .page-footer {
    flex-shrink: 0;
  }

  .fab {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.fab img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0.7;
}
</style>
