---
import Navbar from "@/components/sections/Navbar.astro";
import FooterSection from "@components/sections/Footer.astro";
import "@/assets/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es" class="scrollbar-hide">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background overflow-x-hidden">
    <Navbar />
    <main class="h-full">
      <slot />
    </main>
    <FooterSection />
    <style>
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </body>
</html>
