---
import Navbar from "@/components/sections/Navbar.astro";
import FooterSection from "@components/sections/Footer.astro";
import "@/assets/styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="es" class="scrollbar-hide">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;500;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto:wght@400;500;700&display=swap"></noscript>
    <title>{title} | Mecintrac</title>
  </head>
  <body class="bg-background overflow-x-hidden wrapper">
    <Navbar />
    <main class="flex-grow page-body">
      <slot />
    </main>
    <div class="page-footer">
      <FooterSection />
    </div>
  </body>
</html>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page-body {
    flex-grow: 1;
  }

  .page-footer {
    flex-shrink: 0;
  }
</style>
